body {
  margin: 0px;
} 

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.app-container {
  background-image: linear-gradient(to right, lightblue,  lightgrey, white ); 
  min-height: 100vh;
}